/* Main styles */
body {
    width: 550px; /* Window width */
    height: 400px; /* Window height */
    overflow: auto; /* Scrolling if content overflows */
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center; /* Center elements */
    justify-content: flex-start;
    /* padding: 20px; Padding around edges */
    box-sizing: border-box; /* Include padding in width */
    display: flex;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Arial', sans-serif;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}

/* Header */
th {
    background-color: #00aacc;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px;
}
/* Table data */
td {
    padding: 12px;
}

td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

td.actions button {
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: white;
}

td.actions button:disabled {
    background-color: inherit;
    cursor: not-allowed;
    span {
        color: #ccc;
    }
}

td.actions button:hover {
    background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

td.actions button:disabled:hover {
    background-color: inherit;
    opacity: 0.6;
  }

td.actions .remove-button {
    background: red; 
    span {
        color: white;
    }
}

td.actions .remove-button:hover {
    background-color: #d90000;
}

tr:nth-child(even) {
    background-color: #f9f9f9ec;
}

tr:hover {
    background-color: #e6f7e6;
    transition: background 0.3s ease;
}

.in-progress .status-icon {
    animation: spin-reverse 1s linear infinite;
    color: black;
}

.success .status-icon {
    color: green;
}

.another-task .status-icon {
    color: #0096b4;
}

.error .status-icon {
    color: red;
}

.paused .status-icon {
    color: orange;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.icon {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}
